<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /movielens
  RewriteRule ^movielens/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /movielens/index.html [L]
</IfModule>